header {
    .up-header {
        background-color: dodgerblue;
        color: white;

        .row {
            display: flex;
            justify-content: flex-end;
            padding: 0.5rem 0;
        }

        .me-5 {
            margin-right: 5rem;
        }
    }
}